body{
    background: rosybrown;
}

.navbar-brand{
    font-family: 'Indie Flower', cursive;
}
.masthead {
    padding: 6em 0;
    background-image: url(./Images/No-Branding-Header-Background-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    display: block;
    text-align: center;
    font-family: Acme;
    color: whitesmoke;
}